

p {
  overflow: hidden;
  margin: 0;
}
h2 {
  overflow: hidden;
}
nav {
  overflow: visible;
}
.dashboard {
  height: 100vh;
  color: red;
}

.icon {
  height: 3vh;
}

svg path {
  fill: black;
}

.row {
}

nav div {
  color: black;
}
.iconss-bar {
  height: 5vh;
}
#toolbar {
  height: 10vh;
  color: black;
  width: 100%;
}

#graphoptions {
  height: 100%;
}
.iconss-bar a {
  display: inline-block;
  width: 10% !important;
}

.iconss-bar a .row {
  height: 100%;
}

.blacktext {
  color: black;
}

.graph-canvas {
  height: 85.1vh;
  background-color: rgb(255, 255, 255);
}

.buttons_row {
  overflow-y: visible !important;
  overflow-x: visible !important;
  min-height: 100px;
}
.dropdown {
  overflow-y: visible !important;
  overflow-x: visible !important;
}

.dropdown ul {
  top: auto !important;
  position: absolute;
  z-index: 10;
}

.dropdown ul li {
  z-index: 10;
}

.graph-canvas div {
  z-index: -0;
}

.dropdown {
  height: auto !important;
  width: auto !important;
}

.dropdown-menu li div {
  cursor: pointer;
}

.arrow-container svg path {
  color: black;
}

.rotate-90 {
  display: inline-block;
  transform: rotate(180deg);
}

.vis-configuration {
  color: black;
}

.vis-config-label {
  color: white;
}

.ethInput {
  outline: solid 1px black;
}

.vis-tooltip {
  position: absolute;
  background-color: black;
}

.section-2 svg path {
  fill: #13f195;
}
.icons-bar svg path {
  fill: white;
}
